/* ==UserStyle==
@name           Youtube Acrylic Menus / Youtube Blurred Menus
@namespace      github.com/openstyles/stylus
@version        0.3
@description    Add translucency to most menus that pop up on youtube.
@author         Benzeel
==/UserStyle== */
@-moz-document domain("www.youtube.com") {

/*Bug Tracker: https://github.com/Benzeel/Youtube-Acrylic-Menus/issues*/


/*account, notification and account switching menu theming*/
ytd-multi-page-menu-renderer.style-scope.ytd-popup-container {
        backdrop-filter: blur(35px);
        background: #1d1d1dad;
}

        .ytd-multi-page-menu-renderer {
              background: none;
              background-color: transparent;
        }

/*sidebar theming*/ 
div#guide-content.style-scope.ytd-app {
    background: none;
}
        div#contentContainer.style-scope.tp-yt-app-drawer {
           background: #0d0d0dbf;
           backdrop-filter: blur(10px);
        }
        /*disable screen darkening when opening/closing sidebar*/
        #scrim.visible.tp-yt-app-drawer {
        	opacity: 0;
        }

/*dropdown theming*/
.ytContextualSheetLayoutHost, ytd-menu-popup-renderer.style-scope {
    background-color: #1e1e1eb3;
}
        /* comment sorting dropdown*/
        tp-yt-paper-listbox#menu.dropdown-content.style-scope.yt-dropdown-menu {
           background: #4f4f4f2b;
           backdrop-filter: blur(15px)
        }
        /*comment sorting dropdown */
        tp-yt-paper-listbox.yt-dropdown-menu {
           background: #282828a1;
           backdrop-filter: blur(15px);
        }
        /*create dropdown */
        ytd-multi-page-menu-renderer.style-scope.ytd-popup-container {
        background: #7575752e;
        }

/*share menu*/
tp-yt-paper-dialog.style-scope {
    background: #282828a1;
    backdrop-filter: blur(30px)
}
    /*link bar transparency*/
    div#bar.style-scope.yt-copy-link-renderer {
    background: #00000063;
    }

    
/*search popover styling*/
.ytSearchboxComponentSuggestionsContainerScrollable {
    background: #222222bd;
    backdrop-filter: blur(35px);
}


/* -------- Patches and Fixes ---------- */

/*channel unsubscribe popup fix*/
yt-confirm-dialog-renderer.style-scope.ytd-popup-container {
background: none;
}
/* collaborators popup fix */
dialog-layout.yt-spec-dialog-layout.yt-spec-dialog-layout--dialog-layout-responsive {
background: none;
}
/* remove channel checkmark background */
badge-shape.yt-badge-shape.yt-badge-shape--default.yt-badge-shape--no-text.yt-badge-shape--typography {
    background: none;
}







}
